*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card
{
    background: linear-gradient(311deg, #2992a3, #6c29a3);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    width: 100%;
    min-height: 100vh ;
    padding: 10px;
}


@-webkit-keyframes AnimationName {
    0%{background-position:30% 0%}
    50%{background-position:71% 100%}
    100%{background-position:30% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:30% 0%}
    50%{background-position:71% 100%}
    100%{background-position:30% 0%}
}
@keyframes AnimationName {
    0%{background-position:30% 0%}
    50%{background-position:71% 100%}
    100%{background-position:30% 0%}
}

.to-do-app
{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}

.to-do-app h2
{
    color: #002756;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
} 

.to-do-app h2
{
    color: #002756;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
} 

.to-do-app h2 img
{
    width: 30px;
    margin: 10px;
} 

.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input
{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}

.row button
{
    border: none;
    cursor: pointer;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    border-radius: 0px 30px 30px 0px;

}

ul li
{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
 ul li::before
 {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    content: '';
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
 }

 .checked
 {
    color: #555;
    text-decoration: line-through;
 }

 .checked::before
 {
    background-image: url(images/checked.png);
 }

 ul li span
 {
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    color: #555;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
 }

 ul li span:hover
 {
    background: #edeef0;
 }